In [1]:
import os

os.chdir("..")

In [2]:
import pandas as pd
import numpy as np
import cv2 as cv

df = pd.read_csv("data/index/full.csv")
df.head()

                      image_path   label
0  data/sandal/Sandal (1277).jpg  sandal
1   data/sandal/Sandal (616).jpg  sandal
2  data/sandal/Sandal (3222).jpg  sandal
3  data/sandal/Sandal (4713).jpg  sandal
4   data/sandal/Sandal (866).jpg  sandal

Using `opencv` to read the images, we add two new columns to the dataframe for the height and width of each image

In [3]:
image_paths = df["image_path"].values
labels = df["label"].values

# Create a numpy array of image sizes
image_sizes = np.zeros((len(image_paths), 2), dtype=int)
for i, image_path in enumerate(image_paths):
    image = cv.imread(image_path)
    image_sizes[i] = image.shape[:2]
    
# Add height and width columns to the dataframe
df["height"] = image_sizes[:, 0]
df["width"] = image_sizes[:, 1]

# Quick inspection of the modified dataframe
df.head()

                      image_path   label  height  width
0  data/sandal/Sandal (1277).jpg  sandal     102    136
1   data/sandal/Sandal (616).jpg  sandal     102    136
2  data/sandal/Sandal (3222).jpg  sandal     102    136
3  data/sandal/Sandal (4713).jpg  sandal     102    136
4   data/sandal/Sandal (866).jpg  sandal     102    136

A quick inspection shows that the image sizes are consistent across the dataset

In [4]:
# Get the mean and standard deviation of the image sizes with 2 decimal places
print(f"Mean height: {df['height'].mean():.4f}")
print(f"Std height: {df['height'].std():.4f}\n")

print(f"Mean width: {df['width'].mean():.4f}")
print(f"Std width: {df['width'].std():.4f}")

Mean height: 102.0000
Std height: 0.0000

Mean width: 135.9999
Std width: 0.0115